
.footer {
    background-color: #372948;;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.footer_name {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_item {
    display: inline-block;
    margin: 0 10px;
}

.footer_item p {
    margin: 0;
    font-weight: bold;
}

.button_top { 
    background-color: #FFECEF;
    color: #372948;
    border: none;
    width: 30px;
    border-radius: 60%;
    text-align: center;
    cursor: pointer;
}
